<div class="page-container">
	<div class="col-xs-12">
		<div class="page-header">
			<h2>
				Get Started!
			</h2>
		</div>
		<div class="button-container col-xs-12">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary col-xs-offset-2 col-xs-8 main-button">
					<a ng-href="/users/profile/{{ main.userInfo.username }}">
						Profile
					</a>
				</button>
			</div>
			<div ng-if="main.userInfo.clan == 'null'" id="clan-directions">
				<div class="col-xs-6">
					<button type="button" class="btn btn-primary col-xs-12 main-button">
						<a ng-href="/clans/register">
							Register <br>
							Clan
						</a>
					</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn btn-primary col-xs-12 main-button">
						<a ng-href="/clans/join">
							Join <br> Clan
						</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>