<div class="page-container">
	<!-- Introduction -->
	<div class="col-xs-12">
		<div id="clan-stats-container">
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h3 class="font1 textCenter">{{main.clan.name}}</h3>
				</div>
				<div id="clan-stats" class="font1">
					<div class="pull-left">
						<span class="glyphicons glyphicons-group"></span>
						<div class="value textCenter">
							<span>{{main.clan.totalMembers}}</span>
						</div>
					</div>
					<div class="pull-left">
						<span class="glyphicons glyphicons-crown"></span>
						<div class="value textCenter">
							<span>{{main.clan.warsWon}}</span>
						</div>
					</div>
					<!-- <div class="pull-left">
						<span class="glyphicons glyphicons-bullets"></span>
						<div class="value textCenter">
							<span>{{main.clan.totalAttacks}}</span>
						</div>
					</div> -->
					<div class="pull-left">
						<span class="glyphicons glyphicons-star"></span>
						<div class="value textCenter">
							<span>{{main.clan.totalStars}}</span>
						</div>
					</div>
					<div class="pull-left">
						<span class="glyphicons glyphicons-fire"></span>
						<div class="value textCenter">
							<span>{{main.clan.avDest}}%</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button-container col-xs-12">
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary col-xs-12 main-button">
					<a ng-href="/users">
						Members
					</a>
				</button>
			</div>
			<div class="col-xs-6">
				<button type="button" class="btn btn-primary col-xs-12 main-button">
					<a ng-href="/wars">
						Wars
					</a>
				</button>
			</div>
<!-- 			<div class="col-xs-6 col-offset-xs-3">
				<a ng-href="/wars" type="button" class="btn btn-primary col-xs-12 font1">
					Clans
				</a>
			</div> -->
		</div>
		<div class="button-container col-xs-12">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary col-xs-12 main-button">
					<a ng-href="/manage">
						Manage
					</a>
				</button>
			</div>
		</div>
	</div>
</div>