<div class="page-container">
	<div ng-class="main.authSizing"> 
		<div id="login-container">
			<div class="form-header">
				<h1 ng-show="!auth.isRegistering">Login</h1>
				<h1 ng-show="auth.isRegistering">Register</h1>
			</div>
			<form ng-submit="auth.processAuth()">
				<!-- IN-GAME NAME INPUT -->
				<div class="form-group slideable" id="name">
					<label>In-Game Name</label>
					<input type="text" class="form-control" ng-class="auth.styles.name"
						ng-model="auth.loginData.name" ng-change="auth.styles.name = ''"> 
				</div>
				<!-- IN-GAME NAME INPUT -->
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" ng-class="auth.styles.username"
						ng-model="auth.loginData.username" ng-change="auth.styles.username = ''">
				</div>
				<!-- PASSWORD INPUT -->
				<div class="form-group"> 
					<label>Password</label>
					<input type="password" class="form-control" ng-class="auth.styles.password"
						ng-model="auth.loginData.password" ng-change="auth.styles.password = ''">
				</div>
				<!-- PASSWORD INPUT CONFIRM-->
				<div class="form-group slideable" id="pconfirm"> 
					<label>Re-Enter Password</label>
					<input type="password" class="form-control" ng-class="auth.styles.passwordConfirm"
						ng-model="auth.loginData.passwordConfirm" ng-change="auth.styles.passwordConfirm = ''">
				</div>
				<!-- ERROR MESSAGE -->
				<div class="alert alert-danger" ng-show="auth.error">
					{{ auth.error }}
				</div>
				<!-- ERROR MESSAGE -->
				<div class="alert alert-success" ng-show="auth.message">
					{{ auth.message }}
				</div>
				<!-- LOGIN BUTTON -->
				<button type="submit" class="btn btn-block btn-primary main-button">
					<span ng-show="!auth.processing && !auth.isRegistering">Login</span>
					<span ng-show="!auth.processing && auth.isRegistering">Register</span>
					<span ng-show="auth.processing">
						<span class="glyphicon glyphicon-repeat spinner"></span> 
					</span>
				</button>
				<div slide-toggle="#name">
					<div ng-click="auth.isRegistering = !auth.isRegistering" id="register" slide-toggle="#pconfirm"> 
						<a ng-show="!auth.isRegistering"> Register for Site </a>
						<a ng-show="auth.isRegistering"> Back to Login </a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>