<div class="page-container">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<div id="container" class="col-xs-12">
					<h3 class="accent-font accent-text-colour"> Clash Solutions </h3>
					<div id="catch-phrase" class="secondary-font">
						<h5> Clan Management - Made Easy </h5>
					</div>
					<div class="hCenter row">
						<img src="assets/imgs/splash-img.png" style="width: 300px">
					</div>
					<a ng-href="/login" class="row"><button type="button" class="bounce accent-font accent-background-colour accent-border-colour btn btn-default">
						Coming April 2016
					</button></a>
				</div>
			</div>
		</div>
	</div>
</div>