.info-container {
	padding: 0 10px 10px 10px;
	text-align: center;
	font-size: 18px;
}

.info-container > div {
	padding: 15px;
	border: 1px solid;
	border-radius: 15px;
}

.infoContainer > div {
	border-radius: 5px;
	height: 30px;
	margin-bottom: 15px;
	background: white;
	padding-top: 2px;
}

#attackStats {
	height: 276px;
}

#profile #attackStats > div {
	padding: 10px;
}

#attackStats div {
	height: 100%;
}

#starChart {
	width: 100%;
	height: 90%;
}

#edit-profile {
	padding: 0 10px 10px 10px;
}

.updateButton {
	border-radius: 5px;
	background-color: #000;
	color: #0680AF !important;
}

#war-attacks {
	padding: 0 10px 10px 10px;
}

#war-attacks > div {
	border: 1px solid;
	border-radius: 15px;
	padding: 15px 15px 0 15px;
}

#profile-container {
	padding: 0;
}

#message-container {
	padding: 0 10px 10px 10px;
}

.alert {
	margin: 0;
}


/* ============================= PROFILE MODAL ============================= */

#profileModal {
	text-align: center;
}

.innerModalContainer > div {
	margin-bottom: 10px;
	font-size: 1.25em;
}

.modal-header {
	text-align: center;
}