.user-container {
	margin-bottom: 15px;
}

.user-header {
	font-size: 12px;
}

.user-content {

}

.user-stat {
	display: inline-block;
	width: 40px !important;
}

.user-stat-number {
	font-size: 11px;
}

.glyphicons {
	margin: -3px -8px -10px -10px;
}


