.user-container {
	margin-bottom: 5px;
}

.user-header {
	font-size: 12px;
}

.user-content {

}

#userFilter {
	margin-bottom: 20px;
}

.userActions {
	padding: 10px;
}

#profileBtn {
	margin-bottom: 5px;
}

.glyphicons {
	margin: -3px -3px 0 0;
}

/*.userActions a {
	width: 100%;
}*/


