.user-container {
	margin: 0px;
	padding: 0px;
}

.user-content {
	margin-bottom: 10px;
	padding: 10px;

	background-color: #f8f8f8 !important;
	font-size: 16px;
	color: black !important;

	border: 1px solid;
	border-radius: 5px;
}

.user-info {
	display: inline-block;
	padding: 0px;

	background-color: pink !important;
}

.user-info > .user-stat > .glyphicons {
	margin-left: -5px;
}

.user-stat-number {
	font-size: 11px;
}

.user-info .glyphicons {
	margin: -3px -10px -10px 0;
}

.glyphicons-nameplate {
	margin: -10px;
}


