<div class="col-xs-12"> 
	<div class="page-header"> 
		<h1>
			Wars
			<a href="/wars/create" class="btn btn-default"> 
				<span class="glyphicon glyphicon-plus"></span> 
				New War Log
			</a> 
		</h1>
	</div>
	<!-- LOADING MESSAGE -->
	<div class="jumbotron text-center" ng-show="war.processing"> 
		<span class="glyphicon glyphicon-repeat spinner"></span>
		<p>Loading Wars...</p>
	</div>
	<table class="table table-bordered table-striped" ng-show="war.wars"> 
		<thead>
			<tr>
				<th>Opponent</th>
				<th>Start</th>
				<th>Photo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!-- LOOP OVER THE WARS -->
			<tr ng-repeat="battle in war.wars">
				<td>{{ battle.opponent.S }}</td>
				<td>{{ battle.start.toDateString().substr(4) }}</td>
				<td><a ng-href="{{ battle.img }}" target="_blank">Overview</a></td>
				<td class="col-xm-2">
					<a ng-click="war.viewWar(battle.start)" class="btn btn-primary">View</a>
					<a ng-click="war.editWar(battle.start)" class="btn btn-danger">Edit</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>