<div class="page-container">
	<div class="col-xs-12">
		<div class="page-header"> 
			<h1>
				Wars
				<!-- <button ng-if="main.userInfo.clanAdmin" type="button" class="btn btn-primary main-button"> -->
				<button type="button" class="btn btn-primary main-button">
					<a href="/wars/create"> 
						<span class="glyphicon glyphicon-plus"></span> 
						New War Log
					</a>
				</button>
			</h1>
		</div>
		<!-- LOADING MESSAGE -->
		<div class="jumbotron text-center" ng-show="vm.processing"> 
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading Wars...</p>
		</div>
		<!-- Wars Container -->
		<div>
			<div ng-repeat="war in vm.wars" class="war-container col-lg-3 col-md-6 col-xs-12">
				<div class="war-content col-xs-12">
					<div class="war-info">
						<div>{{war.opponent}}</div>
						<span class="in-progress" ng-if="war.inProgress">
							In Progress...
						</span>
						<div ng-if="!war.inProgress">
							<span class="glyphicons glyphicons-cup" ng-class="war.outcome"></span>

							<span class="glyphicons glyphicons-star accent-text-colour"></span>
							<span class="war-stat-number font1">{{war.ourScore}}-{{war.theirScore}}</span>

							<span class="glyphicons glyphicons-group accent-text-colour"></span>
							<span class="war-stat-number font1">{{war.size}}v{{war.size}}</span>
						</div>
					</div>
					<div class="navigation pull-right">
						<a ng-href="/wars/view/{{war.createdAt}}">
							<span class="glyphicons glyphicons-eye-open"></span>
						</a>
						<a ng-href="/wars/edit/{{war.createdAt}}">
							<span class="glyphicons glyphicons-settings"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>