<div class="col-xs-12">
	<div class="page-header">
		<h1 ng-if="war.type == 'create'">New War Log</h1> 
		<h1 ng-if="war.type == 'edit'">Update War Log</h1>
	</div>

	<form>
		<!-- War Stats -->
		{{ war.warData.size }}
		<div class="col-xs-12">
			<div class="col-sm-4 col-xs-12">
				<select ng-model="war.warData.size">
					<option value="" disabled selected># vs #</option>
					<option ng-repeat="option in war.sizeOptions" value="{{ option.value }}">{{ option.display }}</option>
				</select>

				<select ng-model="war.warData.status">
					<option value="" disabled selected>Status</option>
					<option ng-repeat="option in war.statusOptions" value="{{ option }}">{{ option }}</option>
				</select>
			</div>
			<div class="col-sm-4 col-xs-12">
			</div>
			<div class="col-sm-4 col-xs-12">
			</div>
		</div>
		<!-- Warriors Stats -->
		<div>
			<!-- Warrior Template -->
			<div>
				
			</div>
		</div>
	</form>
	
		
		
</div>