<section>
	<div class="col-xs-12" id="warPage">
		<div id="warPageTitle">
			<h3 ng-if="war.type == 'create'">New War Log</h3>
			<h3 ng-if="war.type == 'edit'">Update War Log</h3>
			<h3 ng-if="war.type == 'view'">View War</h3>
		</div>
		<hr>
		<form ng-show="!war.loadingPage">
			<!-- War Stats -->
			<div id="warStats" class="col-xs-12">
				<div ng-class="war.warStatsSubContainer" class="col-sm-4 col-xs-12">
					<div class="col-xs-12">
						<!-- Content for Create and Edit Page -->
						<div ng-if="war.type != 'view'">
							<div>
								<select ng-change="war.setMaxStars()" ng-init="war.warData.size = war.sizeOptions[0].value" ng-model="war.warData.size"
										ng-options="option.value as option.display for option in war.sizeOptions">
								</select>
							</div>
							<hr class="accentBlue">
							<div>
								<input id="dateTime" ng-change="war.checkDate()" type="datetime-local" ng-model="war.warData.startDisplay" class="unstyled">
							</div>
							<hr class="accentBlue">
							<div>
								<div ng-hide="war.warData.inProgress">
									<input type="number" ng-model="war.warData.exp" class="form-control" placeholder="Exp Gained">
								</div>
								<div ng-show="war.warData.inProgress">
									{{ war.warStatus }}
								</div>
							</div>
						</div>
						<!-- Content for View Page -->
						<div ng-if="war.type == 'view'">
							<div >
								{{ war.warData.size }} vs {{ war.warData.size }}
							</div>
							<hr class="accentBlue">
							<div>
								{{ war.warStatus }}
							</div>
							<hr class="accentBlue">
							<div>
								<timer ng-if="war.warStatus == 'Battle Day'" ng-attr-end-time="war.battleCountdown" 
									max-time-unit="'hour'" interval="1000" class="excludeAnimation">{{hours}}H {{mminutes}}M {{sseconds}}S</timer>
								<timer ng-if="war.warStatus == 'Preparation Day'" ng-attr-end-time="war.preparationCountdown" 
									finish-callback="war.reloadPage()" max-time-unit="'hour'" 
									interval="1000" class="excludeAnimation">{{hours}}H {{mminutes}}M {{sseconds}}S</timer>
								<div ng-if="war.warStatus == 'War Over'" class="excludeAnimation">
									{{ war.warData.exp }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<div class="col-xs-12">
						<!-- Content for Create and Edit Page -->
						<div ng-if="war.type != 'view'">
							<div id="clanName">
								Space Monkeys
							</div>
							<hr class="accentBlue">
							<div>
								<div ng-if="war.warData.inProgress">
									VS
								</div>
								<div ng-if="!war.warData.inProgress">
									<select ng-disabled="war.warData.inProgress" ng-init="war.setMaxStars()" ng-model="war.warData.ourScore" ng-class="war.inProgressClass">
										<option value="" disabled selected>Stars</option>
										<option ng-repeat="option in war.maxStars" value="{{option}}">{{ option }}</option>
									</select>
								</div>
							</div>
							<hr class="accentBlue">
							<div>
								<div ng-if="war.warData.inProgress">
									<input ng-model="war.warData.opponent" id="opponentInput" type="text" placeholder="Opponent Name">
								</div>
								<div ng-if="!war.warData.inProgress">
									<input ng-disabled="war.warData.inProgress" ng-model="war.warData.ourDest" type="number" class="form-control" placeholder="Destruction" class="unstyled" step="0.01">
								</div>
							</div>
						</div>
						<!-- Content for View Page -->
						<div ng-if="war.type == 'view'">
							<div >
								Space Monkeys
							</div>
							<hr class="accentBlue">
							<div>
								<div ng-if="war.warData.inProgress">
									VS
								</div>
								<div ng-if="!war.warData.inProgress">
									{{ war.warData.ourScore }}
								</div>
							</div>
							<hr class="accentBlue">
							<div>
								<div ng-if="war.warData.inProgress">
									{{ war.warData.opponent }}
								</div>
								<div ng-if="!war.warData.inProgress">
									{{ war.warData.ourDest }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12" ng-if="!war.warData.inProgress">
					<div class ="col-xs-12">
						<!-- Content for Create and Edit Page -->
						<div ng-if="war.type != 'view'">
							<div>
								<input ng-model="war.warData.opponent" type="text" class="form-control" placeholder="Opponent Name">
							</div>
							<hr class="accentBlue">
							<div>
								<select ng-disabled="war.warData.inProgress" ng-model="war.warData.theirScore" ng-class="war.inProgressClass">
									<option value="" disabled selected>Stars</option>
									<option ng-repeat="option in war.maxStars" value="{{ option }}">{{ option }}</option>
								</select>
							</div>
							<hr class="accentBlue">
							<div>
								<div>
									<input ng-disabled="war.warData.inProgress" ng-model="war.warData.theirDest" type="number" class="form-control" placeholder="Destruction" class="unstyled" step="0.01">
								</div>
							</div>
						</div>
						<!-- Content for View Page -->
						<div ng-if="war.type == 'view'">
							<div >
								{{ war.warData.opponent }}
							</div>
							<hr class="accentBlue">
							<div>
								{{ war.warData.theirScore }}
							</div>
							<hr class="accentBlue">
							<div>
								{{ war.warData.theirDest }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Image Upload Div -->
			<div ng-if="!war.warData.inProgress" ng-show="war.showWarriors" id="imgUpload" class="col-xs-12">
				<div class="col-xs-12">
					<div ng-if="war.type == 'edit'" id="imgContainer">
						<div ng-if="war.warData.img">
							<img ng-src="{{war.warData.img}}">
						</div>
						<input type="file" fileread="war.warData.file"/>
						<button ng-if="war.warData.file" ng-click="war.uploadImg()" class="btn btn-lg btn-block imgButton excludeAnimation">
							<span ng-hide="war.processingImg"> Upload Image </span>
							<span ng-show="war.processingImg">
								<span class="glyphicon glyphicon-repeat spinner"></span> 
							</span>
						</button>
					</div>
					<div ng-if="war.type == 'view'" id="imgContainer">
						<img ng-src="{{war.warData.img}}">
					</div>
				</div>
			</div>
			<!-- Warriors Stats -->
			<div ng-show="war.showWarriors" id="warriorStats" class="col-xs-12">
				<div ng-show="!war.warriorsReady" class="jumbotron text-center"> 
					<span class="glyphicon glyphicon-repeat spinner"></span>
					<p>Loading Warriors...</p>
				</div>
				<div ng-show="war.warriorsReady" class="col-xs-12">
					<!-- Warrior Template -->
					<div ng-repeat="warrior in war.warData.warriors" id="warriorTemplate" class="row excludeAnimation">
						<div class="col-sm-6 col-xs-12 warriorNames">
							<!-- Warrior Name and View Icon -->
							<!-- <div ng-class="war.nameClass"> -->
							<div class="col-xs-12">
								<span ng-if="war.type == 'view'" ng-show="warrior.viewed" class="pull-left glyphicons glyphicons-eye-open accentBlue"></span>
								<span ng-if="war.type == 'view'" ng-hide="warrior.viewed" class="pull-left glyphicons glyphicons-eye-open"></span>
								<select ng-if="war.type != 'view'" ng-model="warrior.name" ng-change="war.adjustUsers()">
									<option value="{{warrior.name}}" selected>{{warrior.name}}</option>
									<option ng-repeat="option in war.warData.actUsers" value="{{ option }}">{{ option }}</option>
								</select>
								<div ng-if="war.type == 'view'" ng-class="((main.userInfo.name == warrior.name) ? 'accentBlue' : '')">
									{{ warrior.name }}
								</div>
							</div>
							<!-- Move Warrior option -->
							<!-- <div ng-if="war.type != 'view'" class="col-xs-6">
								<select ng-model="war.command" ng-change="war.moveWarrior(warrior.name, war.command)"
									ng-disabled="warrior.name == 'Pick Warrior'" ng-options="option for option in war.commandOptions">
								</select>
							</div> -->
						</div>
						<div class="col-sm-6 col-xs-12 warriorAttacks">
							<!-- Attack 1 -->
							<div class="attacks" ng-class="war.attackClass">
								<div ng-if="war.warData.inProgress">
									<select ng-if="war.type != 'view'" ng-model="warrior.attack1" ng-disabled="warrior.name == 'Pick Warrior'"
										ng-change="war.adjustTargets(); warrior.lock1 = true; warrior.viewed = false">
										<option value="{{warrior.attack1}}" selected>{{ warrior.attack1 }}</option>
										<option value="Pick" ng-if="warrior.attack1 != 'Pick'">Pick</option>
										<option value="Hold" ng-if="warrior.attack1 != 'Hold'">Hold</option>
										<option value="Ask" ng-if="warrior.attack1 != 'Ask'">Ask</option>
										<option value="Scout" ng-if="warrior.attack1 != 'Scout'">Scout</option>
										<option value="Practice" ng-if="warrior.attack1 != 'Practice'">Practice</option>
										<option ng-repeat="option in war.attackOptions" value="{{ option }}">{{ option }}</option>
									</select>
									<select ng-model="warrior.attack1" ng-change="war.adjustTargets()"
										ng-if="war.type == 'view' && main.userInfo.name == warrior.name && !warrior.lock1">
										<option value="{{warrior.attack1}}" selected>{{ warrior.attack1 }}</option>
										<option ng-repeat="option in war.attackOptions" value="{{ option }}">{{ option }}</option>
									</select>
									<div ng-if="war.type == 'view' && (main.userInfo.name != warrior.name || warrior.lock1)">
										{{ warrior.attack1 }}
									</div>
								</div>
								<div ng-init="war.setStars(1, warrior, 1, warrior.stars1)" ng-if="!war.warData.inProgress">
									<span ng-click="war.setStars(0, warrior, 1, '0')" class="glyphicons glyphicons-refresh"></span>
									<span ng-click="war.setStars(0, warrior, 1, '1')" ng-class="warrior.s1Opt1" class="glyphicons x2 drop"></span>
									<span ng-click="war.setStars(0, warrior, 1, '2')" ng-class="warrior.s1Opt2" class="glyphicons x2 drop"></span>
									<span ng-click="war.setStars(0, warrior, 1, '3')" ng-class="warrior.s1Opt3" class="glyphicons x2 drop"></span>
								</div>
							</div>
							<!-- Attack 2 -->
							<div class="attacks" ng-class="war.attackClass">
								<div ng-if="war.warData.inProgress">
									<select ng-if="war.type != 'view'" ng-model="warrior.attack2" ng-disabled="warrior.name == 'Pick Warrior'"
										ng-change="warrior.lock2 = true; warrior.viewed = false">
										<option value="{{warrior.attack2}}" selected>{{ warrior.attack2 }}</option>
										<option value="Pick" ng-if="warrior.attack2 != 'Pick'">Pick</option>
										<option value="Hold" ng-if="warrior.attack2 != 'Hold'">Hold</option>
										<option value="Ask" ng-if="warrior.attack2 != 'Ask'">Ask</option>
										<option value="Scout" ng-if="warrior.attack2 != 'Scout'">Scout</option>
										<option value="Practice" ng-if="warrior.attack2 != 'Practice'">Practice</option>
										<option ng-repeat="option in war.attackOptions2" ng-if="warrior.attack1 != option" value="{{ option }}">{{ option }}</option>
									</select>
									<select ng-model="warrior.attack2" ng-change="war.adjustTargets()"
										ng-if="war.type == 'view' && main.userInfo.name == warrior.name && !warrior.lock2">
										<option value="{{warrior.attack2}}" selected>{{ warrior.attack2 }}</option>
										<option ng-repeat="option in war.attackOptions2" ng-if="warrior.attack1 != option" value="{{ option }}">{{ option }}</option>
									</select>
									<div ng-if="war.type == 'view' && (main.userInfo.name != warrior.name || warrior.lock2)">
										{{ warrior.attack2 }}
									</div>
								</div>
								<div ng-init="war.setStars(1, warrior, 2, warrior.stars1)" ng-if="!war.warData.inProgress">
									<span ng-click="war.setStars(0, warrior, 2, '0')" class="glyphicons glyphicons-refresh"></span>
									<span ng-click="war.setStars(0, warrior, 2, '1')" ng-class="warrior.s2Opt1" class="glyphicons x2 drop"></span>
									<span ng-click="war.setStars(0, warrior, 2, '2')" ng-class="warrior.s2Opt2" class="glyphicons x2 drop"></span>
									<span ng-click="war.setStars(0, warrior, 2, '3')" ng-class="warrior.s2Opt3" class="glyphicons x2 drop"></span>
								</div>
							</div>
							<!-- Lock 1 -->
							<div ng-if="war.type != 'view' && war.warData.inProgress" class="col-xs-6 warriorLocks">
								<span ng-disabled="war.type == 'view'" ng-show="warrior.lock1" ng-click="warrior.lock1 = !warrior.lock1" class="glyphicons glyphicons-lock"></span>
								<span ng-disabled="war.type == 'view'" ng-hide="warrior.lock1" ng-click="warrior.lock1 = !warrior.lock1" class="glyphicons glyphicons-unlock"></span>
							</div>
							<!-- Lock 2 -->
							<div ng-if="war.type != 'view' && war.warData.inProgress" class="col-xs-6 warriorLocks">
								<span ng-show="warrior.lock2" ng-click="warrior.lock2 = !warrior.lock2" class="glyphicons glyphicons-lock"></span>
								<span ng-hide="warrior.lock2" ng-click="warrior.lock2 = !warrior.lock2" class="glyphicons glyphicons-unlock"></span>
							</div>
						</div>
						<div ng-if="!$last" class="col-xs-12">
							<hr class="accentBlue">
						</div>
					</div>
				</div>
			</div>
			<!-- Message Div -->
			<div class="row show-hide-message" ng-show="war.message">
				<div class="col-sm-4 col-sm-offset-4 col-xs-12">
					<div class="alert alert-info">
						{{ war.message }}
					</div>
				</div>
			</div>
			<!-- Form Buttons -->
			<div class="col-sm-offset-2 col-sm-6 col-xs-12">
				<!-- Button to Show Warriors -->
				<div ng-click="war.genWarriorList()" ng-if="war.type == 'create'" ng-hide="war.showWarriors">
					<button class="btn btn-lg btn-block warButton">Warrior List</button>
				</div>
				<!-- Button to Submit War or Update War -->
				<div ng-show="war.showWarriors && war.warriorsReady">
					<button ng-click="war.saveWar()" class="btn btn-lg btn-block warButton" ng-if="war.type == 'create'">Create War</button>
					<button ng-click="war.updateWar(true)" class="btn btn-lg btn-block warButton" ng-if="war.type != 'create'">Update War</button>
				</div>
			</div>
		</form>
		<div ng-show="war.loadingPage" class="jumbotron text-center" ng-show="war.processing"> 
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading War...</p>
		</div>
		</div>
	</div>
</section>