<div class="col-xs-12">
	<div class="page-header">
		<h1 ng-if="war.type == 'create'">New War Log</h1> 
		<h1 ng-if="war.type == 'edit'">Update War Log</h1>
	</div>

	<form>
		<!-- War Stats -->
		<!-- {{ war.warData.size }} -->
		<div id="warStats" class="col-xs-12">
			<div class="col-sm-4 col-xs-12">
				<div class="col-xs-12">
					<div>
						<select ng-model="war.warData.size" ng-change="war.setMaxStars()">
							<option value="" disabled selected>&nbsp;&nbsp;# vs #</option>
							<!-- <option ng-repeat="option in war.sizeOptions" value="{{ option.value }}">{{ option.display }}</option> -->
							<option ng-repeat="option in war.sizeOptions" value="{{ option }}">{{ option }}</option>
						</select>
					</div>
					<div>
						<select ng-model="war.warData.status">
							<option value="" disabled selected>&nbsp;&nbsp;Status</option>
							<option ng-repeat="option in war.statusOptions" value="{{ option }}">{{ option }}</option>
						</select>
					</div>
					<div>
						<span>HH:MM:SS</span>
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class ="col-xs-12">
					<div>
						<!-- space monkeys header -->
						<span>Space Monkeys</span>
					</div>
					<div>
						<select ng-model="war.warData.ourScore">
							<option value="" disabled selected>Stars</option>
							<option ng-repeat="option in war.maxStars" value="{{ option }}">{{ option }}</option>
						</select>
					</div>
					<div>
						<!-- Destruction -->
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class ="col-xs-12">
					<div>
						<input ng-model="war.warData.name" type="text" class="form-control" placeholder="Opponent Name">
					</div>
					<div>
						<span>***</span>
					</div>
					<div>
						<!-- Destruction -->
					</div>
				</div>
			</div>
		</div>
		<!-- Warriors Stats -->
		<div id="warriorStats" class="col-xs-12">
			<div class="col-xs-12">
				<!-- Warrior Template -->
				<div>

				</div>
			</div>
		</div>
	</form>
	
	{{ war.warData }}	
		
</div>