
/*#login-container button, .warButton:hover, #userPage .btn:hover, .imgButton:hover,
.navbar .active, .icon-bar, #warPage > button
{
	background-color: #0680AF !important;
}

#nav-button, .navigationButton {
	border-color: #0680AF !important;
}

footer, .updateButton {
	background-color: #eaeaea !important;
}

.warButton:hover, #userPage .btn:hover, .imgButton:hover, .active, #warPage > button {
	color: black !important;
}

footer a, .accentBlue, nav a, .updateButton {
	color: #0680AF !important;
}*/

/* ================================ NEW CODE ================================ */

/* Accent Colour - Background */
.accent-background-colour, .icon-bar
{
	background-color: #337ab7 !important;
}

/* Accent Colour - Text */
.accent-text-colour, .navbar-brand, .dropdown a, #splash-title, .button-container a
{
	color: #337ab7 !important;
}

/* Accent Colour - Border */
.accent-border-colour, #nav-button, .user-content, .war-content, #warStats > div > div, #warriorStats > div, #imgUpload > div,
.info-container > div, #war-attacks > div, .button-container a
{
	border-color: #337ab7 !important;
}

/* Secondary Colour - Background */
.navbar, #warStats > div > div, #warStats > div > div > div > div, .info-container > div, #war-attacks > div
{
	background-color: #f8f8f8 !important;
}














