@font-face{
	font-family: "Supercell-magic";
	src: url('../fonts/Supercell-magic-webfont.ttf') format('truetype');
}
@font-face{
	font-family: "QuincyCF-Light";
	src: url('../fonts/QuincyCF-Light-webfont.ttf');
}
@font-face{
	font-family: "QuincyCF-Regular";
	src: url('../fonts/QuincyCF-Regular-webfont.ttf');
}
@font-face{
	font-family: "QuincyCF-Black";
	src: url('../fonts/QuincyCF-Black-webfont.ttf') format('truetype');
}

h1, .navbar, #navigation-buttons, .routeButton, .userButton, #warStats, .warButton, 
#warriorStats #warriorName, #warPageTitle, #userPage .btn, .warriorNames, .imgButton,
.updateButton, .member-panel h5
{
    font-family: "Supercell-Magic" !important;
    color: black;
}

#clan-description, #about-section, #rules-section, .member-panel, .panel-group, .help-tip, #band a, #band button, #warriorStats .attacks, #warStatsOverall
{
	font-family: "QuincyCF-Black" !important;
}