#login-container {
	/*margin-top: 30px;*/
	padding: 15px;

	border-radius: 5px;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
}

#register
{
	text-align: center;
	width: 100%;
	padding-top: 10px;
}
