.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; cursor: hand; }

main { 
	padding-top: 50px;
}

#content-views {
	position: relative;
}

.ng-enter, .ng-leave { 
	width: 100%;
	position: absolute;
}

.page-scroll, .navbar
{
	background-color: black;
	color: #0680AF !important;
/*	background-color: #0680AF;
	color: black !important;*/
}


/* ===================== NAVBAR ===================== */
.navbar {
	height: 50px !important;
}
.navbar-header {
	width: 250px;
}
.navbar-brand {
	color: #0680AF !important;
}
#navbar-links {
	position: absolute;
	height: 50px;
	top: 0px;
	right: 0px;
	padding: 15px;
}
#navbar-links span {
	margin: 0 5px 0 5px;
}
#navbar-links a {
	color: #0680AF;
}




.help-tip
{
	margin-top: 20px;
}

#navigation-buttons .btn
{
	margin: 5px 0px 5px 0px;

	width: 100%;
}

#gf-logo
{
	width: 80%;
}

a
{
	color: black;
}

.greyedOutText {
	color: #eaeaea !important;
}


/* HEADER ===================== */
header .navbar {
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 0;
}


/* FOOTER ===================== */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}







