.nav, .pagination, .carousel, .panel-title, a { 
	cursor: pointer; 
	cursor: hand; 
}

a:focus, a:hover {
	color: none;
}

/* Make room for the navbar */
.page-container { 
	padding-top: 50px;
}

footer {
	position: absolute;
	bottom: 0;
}

/* Set the element to horizontally center itself */
.hCenter {
	display: inline-block;
	margin: 0 auto;
}

.textCenter {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}

/* Remove the up and down selectors on number inputs */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

#content-views {
	position: relative;
}

.ng-enter, .ng-leave { 
	width: 100%;
	position: absolute;
}

.navigationButton {
	display: inline-flex;
	margin: 10px;
}

hr.accentBlue {
	height: 2px !important;
	width: 80%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #0680AF, rgba(0, 0, 0, 0));
}

.greyedOutText {
	color: #eaeaea !important;
}

.jumbotron {
	border-radius: 5px;
}

#nav-button {
	box-shadow: 1.5px 1.5px #0680AF;
}
#nav-button:active {
	box-shadow: 0 2px 4px -2px black inset;
}


/* =========================== Generic Elements ============================ */
.page-header {
	text-align: center;
}

.form-header {
	margin: -10px 0 20px 0;
	text-align: center;
}

.main-button {
	background-color: #000;
	border-radius: 5px;
	color: #0680AF !important;

	background-color: #f8f8f8 !important;
	border: 1px solid;

	box-shadow: 1.5px 1.5px;
}
.main-button:active {
	box-shadow: 0 2px 4px -2px black inset;
}
.main-button:focus {
	outline: none !important;
}


/* ================== Conditional =================== */
.war-win { color: green !important }
.war-loss { color: red }

/* ===================== NAVBAR ===================== */

.navbar {
	border-color: #e7e7e7;
}

#navigation-buttons .btn {
	margin: 5px 0px 5px 0px;
	width: 100%;
}

#nav-button {
	/*margin-right: 5px;*/
}





