/* General War Page CSS */
#warPageTitle {
	text-align: center;
}

#dateTime {
	background-color: transparent;
	font-size: 15px;
}

/* War Stats section */
#warStats {
	padding: 0 10px 0 10px;
	font-size: 18px;
}

#warStats > div {
	padding: 0 5px 10px 5px;
	text-align: center;
}

#warStats > div > div {
	width: 100%;

	border: 1px solid;
	border-radius: 15px;
	padding: 15px 15px 0 15px;
	
}

#warStats > div > div > div > div {
	border-radius: 5px;
	height: 30px;
	margin-bottom: 15px;
	padding-top: 2px;
}

select, input, select option, #warriorStats > div, #imgUpload > div, #warriorStats > div > div {
	background-color: #f8f8f8 !important;
}

#warStats select {
	height: 100%;
	-webkit-appearance: none;
	background: white;
	border: none;

	margin: 0 auto;
	color: #000;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

#warStats input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	color: black;
	width: 100%;
}

hr {
	height: 2px !important;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #dadada, rgba(0, 0, 0, 0));
}
hr.accentBlue {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #0680AF, rgba(0, 0, 0, 0));
}

#clanName {
	height: 100%;
	background: white;
	border: none;

	margin: 0 auto;
	font-size: 18px;
	color: #000;
	padding-top: 10px !important;
}

/*#warStats #opponentInput {
	width: 100%;
}*/

#extraContent > div > div {
	height: 40px;
}

/* Button */
.warButton {
	background-color: #000;
	border-radius: 15px;
	color: #0680AF !important;
}

/* Warrior Stats section */
#warriorStats *, #imgUpload * {
	padding: 0;
	margin: 0;
}

#warriorStats, #imgUpload {
	margin-bottom: 10px;
}

#warriorStats > div, #imgUpload > div {
	border-radius: 15px;
	border: 1px solid;
	padding: 15px 15px 0 15px;
	width: 100%;
}

#warriorStats > div > div, #imgUpload > div > div {
	background: white;
}

#warriorStats hr {
	margin-top: 5px;
}

#warriorStats select {
	width: 80%;
}

#warriorTemplate {
	margin-bottom: 10px;
	text-align: center;
	font-size: 15px;
}

#warPage .alert {
	text-align: center;
	margin: 0;
}

#warriorButton {
	height: 30px;
}

#warriorStats .warriorNames {
	padding: 10px;
	text-align: center;
}

#warriorStats .warriorAttacks {
	padding: 10px;
	text-align: center;
}

#warriorStats .warriorLocks {
	padding: 10px;
	text-align: center;
}

#warriorStats .glyphicons-refresh {
	padding-top: 18px;
	padding-right: 18px;
}


#warPage img {
	width: 100%;
}

#imgContainer {
	/*margin-bottom: 300px;*/
	padding-bottom: 15px; 
}

.imgButton {
	background-color: #000;
	color: #0680AF !important;

	margin: 5px 0 5px 0 !important;
}

#war-message {
	margin-bottom: 10px;
}

#confirmation-buttons {
	margin-bottom: 10px;
}






