<div class="page-container">
	<div class="col-xs-12">
		<div class="page-header"> 
			<h1>
				Users
			</h1>
		</div>
		<!-- LOADING MESSAGE -->
		<div class="jumbotron text-center" ng-show="user.processing"> 
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading Users...</p>
		</div>

		<!-- Users Container -->
		<div>
			<!-- User Template -->
			<div ng-repeat="person in user.users" class="user-container row">
				<span class="user-header font1">{{person.name}}</span>
				<span class="user-content pull-right">
					<span class="glyphicons glyphicons-temple-buddhist accent-text-colour"></span>
					<span class="font1">{{person.th}}</span>

					<span class="glyphicons glyphicons-user accent-text-colour"></span>
					<span class="font1">{{person.bk}}</span>

					<span class="glyphicons glyphicons-woman accent-text-colour"></span>
					<span class="font1">{{person.aq}}</span>

					<span class="glyphicons glyphicons-old-man accent-text-colour"></span>
					<span class="font1">{{person.gw}}</span>
				</span>
			</div>
			<!-- User Template -->
			<!-- <div class="user-container row">
				<span class="user-header font1">Zephyro</span>
				<span class="user-content pull-right">
					<span class="glyphicons glyphicons-temple-buddhist accent-text-colour"></span><span class="font1">9</span>
					<span class="glyphicons glyphicons-user accent-text-colour"></span><span class="font1">20</span>
					<span class="glyphicons glyphicons-woman accent-text-colour"></span><span class="font1">20</span>
					<span class="glyphicons glyphicons-old-man accent-text-colour"></span><span class="font1">0</span>
				</span>
			</div>
			<div class="user-container row">
				<span class="user-header font1">Tensa Zangetsu</span>
				<span class="user-content pull-right">
					<span class="glyphicons glyphicons-temple-buddhist accent-text-colour"></span><span class="font1">9</span>
					<span class="glyphicons glyphicons-user accent-text-colour"></span><span class="font1">20</span>
					<span class="glyphicons glyphicons-woman accent-text-colour"></span><span class="font1">20</span>
					<span class="glyphicons glyphicons-old-man accent-text-colour"></span><span class="font1">0</span>
				</span>
			</div> -->
		</div>





		<!-- OLD CODE -->
		<div ng-show="user.users" ng-click="user.filterList()" id="userFilter" class="btn-group">
			<label class="btn btn-default" ng-model="user.filter" uib-btn-radio="'0'">In Clan</label>
			<label class="btn btn-default" ng-model="user.filter" uib-btn-radio="'1'">Not In Clan</label>
			<label class="btn btn-default" ng-model="user.filter" uib-btn-radio="'2'">Admins</label>
		</div>
		<table class="table table-bordered table-striped" ng-show="user.users"> 
			<thead>
				<tr>
					<th class="col-xs-4">Name</th> 
					<th class="col-xs-2">TH</th>
					<th class="col-xs-2">BK</th>
					<th class="col-xs-2">AQ</th>
					<th class="col-xs-2">GW</th>
				</tr>
			</thead>
			<tbody>
				<!-- LOOP OVER THE USERS -->
				<tr ng-repeat="person in user.users" class="excludeAnimation"> 
					<td class="col-xs-4">{{ person.name }}</td>
					<td class="col-xs-2">{{ person.th }}</td>
					<td class="col-xs-2">{{ person.bk }}</td>
					<td class="col-xs-2">{{ person.aq }}</td>
					<td class="col-xs-2">{{ person.gw }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- <span class="sprite th-sprite th9">
	<span class="sprite-level">9</span>
</span>
<span class="sprite bk-sprite">
	<span class="sprite-level">20</span>
</span>
<span class="sprite aq-sprite">
	<span class="sprite-level">20</span>
</span>
<span class="sprite gw-sprite">
	<span class="sprite-level">0</span>
</span> -->