<div class="page-container">
	<div class="col-xs-12">
		<div class="page-header"> 
			<h1>
				Members
			</h1>
		</div>
		<!-- LOADING MESSAGE -->
		<div class="jumbotron text-center" ng-show="user.processing"> 
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading Users...</p>
		</div>

		<!-- Users Container -->
		<div>
			<div ng-repeat="person in user.users" class="user-container col-lg-3 col-md-6 col-xs-12">
				<div class="user-content col-xs-12">
					<div class="user-info">
						<div>{{person.name}}</div>
						<span class="user-stat">
							<span class="glyphicons glyphicons-temple-buddhist accent-text-colour"></span>
							<span class="user-stat-number font1">{{person.th}}</span>
						</span>
						
						<span class="user-stat">
							<span class="glyphicons glyphicons-user accent-text-colour"></span>
							<span class="user-stat-number font1">{{person.bk}}</span>
						</span>

						<span class="user-stat">
							<span class="glyphicons glyphicons-woman accent-text-colour"></span>
							<span class="user-stat-number font1">{{person.aq}}</span>
						</span>

						<span class="user-stat">
							<span class="glyphicons glyphicons-old-man accent-text-colour"></span>
							<span class="user-stat-number font1">{{person.gw}}</span>
						</span>
					</div>
					<a ng-href="/users/profile/{{person.name}}" class="pull-right">
						<span class="glyphicons glyphicons-nameplate x2"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <span class="sprite th-sprite th9">
	<span class="sprite-level">9</span>
</span>
<span class="sprite bk-sprite">
	<span class="sprite-level">20</span>
</span>
<span class="sprite aq-sprite">
	<span class="sprite-level">20</span>
</span>
<span class="sprite gw-sprite">
	<span class="sprite-level">0</span>
</span> -->