<section>
	<div class="col-xs-12" id="profilePage">
		<div id="warPageTitle">
			<h3>Profile</h3>
		</div>
		<hr>
		<!-- LOADING MESSAGE -->
		<div class="jumbotron text-center" ng-show="user.loadingPage"> 
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading Profile...</p>
		</div>
		<div ng-show="!user.loadingPage">
			{{user.profile}}
		</div>
		<table class="table table-bordered table-striped" ng-show="user.profile.wars"> 
			<thead>
				<tr>
					<th>Opponent</th> 
					<th >War Position</th>
					<th>1st Attack</th>
					<th>2nd Attack</th>
				</tr>
			</thead>
			<tbody>
				<!-- LOOP OVER THE USERS -->
				<tr ng-repeat="war in user.profile.wars" class="excludeAnimation"> 
					<td>{{ war.opponent }}</td>
					<td>{{ war.warPos }}</td>
					<td>
						<div>
							<span ng-show="war.attack1.stars > 0" class="glyphicons glyphicons-star drop"></span>
							<span ng-show="war.attack1.stars > 1" class="glyphicons glyphicons-star drop"></span>
							<span ng-show="war.attack1.stars > 2" class="glyphicons glyphicons-star drop"></span>
							<span ng-hide="war.attack1.stars > 0" class="glyphicons glyphicons-star-empty drop"></span>
							<span ng-hide="war.attack1.stars > 1" class="glyphicons glyphicons-star-empty drop"></span>
							<span ng-hide="war.attack1.stars > 2" class="glyphicons glyphicons-star-empty drop"></span>
						</div>
					</td>
					<td>
						<div>
							<span ng-show="war.attack2.stars > 0" class="glyphicons glyphicons-star drop"></span>
							<span ng-show="war.attack2.stars > 1" class="glyphicons glyphicons-star drop"></span>
							<span ng-show="war.attack2.stars > 2" class="glyphicons glyphicons-star drop"></span>
							<span ng-hide="war.attack2.stars > 0" class="glyphicons glyphicons-star-empty drop"></span>
							<span ng-hide="war.attack2.stars > 1" class="glyphicons glyphicons-star-empty drop"></span>
							<span ng-hide="war.attack2.stars > 2" class="glyphicons glyphicons-star-empty drop"></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>