<section>
	<div class="col-xs-12" id="profilePage">
		<div id="warPageTitle">
			<h3>Profile</h3>
		</div>
		<hr>
		<!-- LOADING MESSAGE -->
		<div class="jumbotron text-center" ng-show="user.loadingPage"> 
			<span class="glyphicon glyphicon-repeat spinner"></span>
			<p>Loading Profile...</p>
		</div>
		<div ng-show="!user.loadingPage">
			<div class="col-sm-12">
				<!-- War Stats Overview -->
				<div id="warStatsOverall" class="infoContainer col-sm-4 col-xs-12">
					<div class="col-xs-12">
						<div>
							<div >
								Wars Fought<br>
								{{ user.profile.warsFought }}
							</div>
							<hr class="accentBlue">
							<div>
								Stars Gained<br>
								{{ user.profile.starsGained }}
							</div>
							<hr class="accentBlue">
							<div>
								3-Star Rate<br>
								{{ user.profile.threeStarRate.toFixed(2) }} %
							</div>
						</div>
					</div>
				</div>
				<!-- Attack Stats -->
				<div id="attackStats" class="infoContainer col-sm-4 col-xs-12">
					<div>
						<div>
							All War Stars
							<canvas id="starChart" class="chart chart-bar" chart-data="stars" chart-labels="labels"></canvas>
						</div>
					</div>
				</div>
				<!-- Hero Stats -->
				<div id="heroStats" class="infoContainer col-sm-4 col-xs-12">
					<div class="col-xs-12">
						<div>
							<div >
								Town Hall<br>
								<select ng-change="user.setMaxLvls()" ng-model="user.profile.thLvl"
									ng-options="option for option in user.thLvls">
								</select>
							</div>
							<hr class="accentBlue">
							<div>
								Barbarian King<br>
								<select ng-model="user.profile.barbLvl" 
									ng-options="option for option in user.kingLvls">
								</select>
							</div>
							<hr class="accentBlue">
							<div>
								Archer Queen<br>
								<select ng-model="user.profile.queenLvl" 
									ng-options="option for option in user.queenLvls">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="main.userInfo.name == user.profile.name || main.userInfo.admin" class="col-xs-offset-4 col-xs-4">
				<button ng-click="user.updateProfile()" class="btn btn-lg btn-block updateButton">Update Profile</button>
			</div>

			<!-- All Attacks -->
			<div id="allAttacks" class="col-sm-offset-2 col-sm-8 col-xs-12">
				<div class="col-xs-12">
					<table class="table table-bordered table-striped col-xs-12" ng-show="user.profile.wars"> 
						<thead>
							<tr>
								<th>Opponent</th> 
								<th >War Position</th>
								<th>1st Attack</th>
								<th>2nd Attack</th>
							</tr>
						</thead>
						<tbody>
							<!-- LOOP OVER THE USERS -->
							<tr ng-repeat="war in user.profile.wars" class="excludeAnimation"> 
								<td>{{ war.opponent }}</td>
								<td>{{ war.warPos }}</td>
								<td>
									<div>
										<span ng-show="war.attack1.stars > 0" class="glyphicons glyphicons-star drop"></span>
										<span ng-show="war.attack1.stars > 1" class="glyphicons glyphicons-star drop"></span>
										<span ng-show="war.attack1.stars > 2" class="glyphicons glyphicons-star drop"></span>
										<span ng-hide="war.attack1.stars > 0" class="glyphicons glyphicons-star-empty drop"></span>
										<span ng-hide="war.attack1.stars > 1" class="glyphicons glyphicons-star-empty drop"></span>
										<span ng-hide="war.attack1.stars > 2" class="glyphicons glyphicons-star-empty drop"></span>
									</div>
								</td>
								<td>
									<div>
										<span ng-show="war.attack2.stars > 0" class="glyphicons glyphicons-star drop"></span>
										<span ng-show="war.attack2.stars > 1" class="glyphicons glyphicons-star drop"></span>
										<span ng-show="war.attack2.stars > 2" class="glyphicons glyphicons-star drop"></span>
										<span ng-hide="war.attack2.stars > 0" class="glyphicons glyphicons-star-empty drop"></span>
										<span ng-hide="war.attack2.stars > 1" class="glyphicons glyphicons-star-empty drop"></span>
										<span ng-hide="war.attack2.stars > 2" class="glyphicons glyphicons-star-empty drop"></span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>






